cmake>=3.13.2
plyfile~=0.7.4
tensorboardX~=2.4.1
pyyaml~=6.0
scipy~=1.6.0
Pillow~=9.2.0
setuptools~=58.0.4
pybind11~=2.9.2
tqdm~=4.62.3
tabulate~=0.8.9
fvcore~=0.1.5.post20220512
termcolor~=1.1.0
plotly~=5.9.0
attrs~=21.4.0
imageio~=2.19.5
tensorboard~=2.9.1
kaleido~=0.2.1
pyntcloud~=0.3.1
sharedarray~=3.2.0
prettytable~=3.4.1
omegaconf~=2.2.3
spconv~=2.1.12
trimesh~=3.7.5
pandas~=1.0.5
yacs~=0.1.8
numba~=0.56.2
scikit-learn~=0.23.1
h5py~=3.7.0
matplotlib~=3.2.2
opencv-python~=4.5.1.48
six~=1.16.0
gdown~=4.5.1
requests~=2.28.1